name: First Workflow
on: 
  push:
    branches: 
      - main
  workflow_dispatch:

jobs:
  FirstJob:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello World!"
      - run: echo "::warning file=app.js,line=1,col=5,endColumn=7::Missing semicolon"

      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: List files in repo
        run: |
          echo "Repo ${{ github.repository }} contains the following - files:"
          tree
        
    
